<form method="post" class="deleteForm" action="{{ path('demo_delete', {'id': demo.id}) }}"  onsubmit="return confirm('Estas seguro de querer borrar esta demo?');" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demo.id) }}">
    <button class="btn">Borrar</button>
</form>
