{% extends 'base.html.twig' %}

{% block title %}New Demo{% endblock %}

{% block body %}
    <h1>Crear nueva Demo</h1>

    {{ include('demo/_form.html.twig') }}

    <a href="{{ path('demo_index') }}">Volver a la lista</a>
{% endblock %}
